{% extends 'base_layout.html' %}
{% block content %}
  <h1/> App events is running
  <div class="events">
    {% for event in events %}
      <div class="event">
        <br/>
        <h1><a href="{% url 'events:detail' slug=event.event_url %}">{{ event.event_name }}</a></h2> {# static loaded from staticfiles #}
        <p>{{ event.event_url }}</p>
        <p>{{ event.description }}</p>
        <p>{{ event.date }}</p>
        <p>{{ event.organiser }}</p>
        <p>{{ event.contact_info }}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
